.hamburger-button {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;

  div {
    width: 25px;
    margin: 2px 0;
    height: 3px;
    background-color: black;
    border-radius: 1.5px;
  }
}
