.nav {
  // height: 64px;
  height: 48px;
  width: 100vw;

  z-index: 1;
  
  display: flex;
  justify-content: flex-end;
  
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;

  box-sizing: border-box;
  padding: 0 36px;

  box-shadow: 0 4px 2px -2px lightgrey;
  background-color: white;

  .content {
    height: 100%;
    width: 100%;
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 100%;
    }

    img {
      height: 100%;
    }
  }
}

/** Tablet */
@media (min-width: 768px) {

}


/** Desktop */
@media (min-width: 1024px) {
  .nav {
    height: 64px;
  }

}


/** Large Desktop */
@media (min-width: 1440px) {

}