.nav {
  height: 64px;
  width: 100vw;

  display: flex;
  justify-content: flex-end;
  
  position: fixed;
  top: 0;
  right: 0;
  height: 65px;

  box-sizing: border-box;
  padding: 0 60px;

  box-shadow: 0 4px 2px -2px lightgrey;
  background-color: white;

  content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 100%;
    }

    img {
      height: 100%;
    }
  }
}