.nav {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 4px 2px -2px lightgrey;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  left: 0;
  padding: 0 24px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1;


  .content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    .logo {
      height: 16px;
      a {
        height: 100%;
      }
      img {
        height: 100%;
      }
    }
  }
}

/** Tablet */
@media (min-width: 768px) {

}


/** Desktop */
@media (min-width: 1024px) {
  .nav {
    height: 64px;
    padding: 8px 48px;


    .content {
      .logo {
        height: 36px;
      }
    }
  }
}


/** Large Desktop */
@media (min-width: 1920px) {

}