.nav--menu-container {
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  padding: 7px;
}

.nav-menu-dropdown-container {
  min-height: 48px;
  width: 200px;
  z-index: 0;
  position: absolute;
  top: 64px;
  right: 0;
  opacity: 0;
  background-color: white;
  pointer-events: none;
  box-shadow: 0 4px 2px -2px lightgrey;
}

.nav-menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .nav-menu-dropdown--item {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 14px;
    border-bottom: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    transition: all .15s ease-in-out;
    &:hover {
      color: #fff;
      background-color: #629dfc;
    }
  }
}

.show {
  opacity: 1;
  pointer-events: all;
}
