.blog {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 25px 60px; }
  .blog h1 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #999;
    text-align: left; }
  .blog img {
    max-width: 100%; }
  .blog p {
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    word-break: break-all;
    text-align: left; }

.blog-filter {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.blog-filter--item {
  height: 40px;
  width: 150px;
  position: relative;
  cursor: pointer; }
  .blog-filter--item:hover {
    background-color: whitesmoke; }
  .blog-filter--item .blog-filter--button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center; }

.blog-filter--item-dropdown {
  z-index: 1;
  position: absolute;
  top: 40px;
  opacity: 0;
  background-color: white;
  border: 1px solid #333;
  width: 100%;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .blog-filter--item-dropdown .dropdown-item {
    padding: 0 10px; }
  .blog-filter--item-dropdown .new-filter {
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid #333;
    border-top: 1px solid #e3e3e3; }
  .blog-filter--item-dropdown .filter-item {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px; }
    .blog-filter--item-dropdown .filter-item input {
      margin-right: 15px;
      font-size: 13px;
      font-weight: 400; }
  .blog-filter--item-dropdown button {
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    width: 100%; }
    .blog-filter--item-dropdown button:hover {
      color: #fff;
      background-color: #e3e3e3; }

.show {
  opacity: 1; }

.blog-form {
  width: 100vw;
  padding: 80px 10vw; }
  .blog-form form {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 550px; }
    .blog-form form .blog-form--item {
      margin: 12px 0; }
    .blog-form form button {
      background-color: #00969E;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      height: 48px;
      transition: all .15s ease-in-out;
      width: 200px; }
      .blog-form form button:hover {
        opacity: 0.5; }
    .blog-form form .input-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 56px;
      width: 100%; }
      .blog-form form .input-container input {
        align-items: center;
        color: #333;
        display: flex;
        font-size: 16px;
        font-weight: 400;
        height: 28px;
        line-height: 22px; }
      .blog-form form .input-container h4 {
        color: #333;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        height: 20px; }
      .blog-form form .input-container textarea {
        color: #333;
        font-size: 16px;
        font-weight: 400;
        height: 400px;
        outline: none;
        padding: 7px;
        resize: vertical;
        width: 100%; }
    .blog-form form .title-container {
      border-bottom: 1px solid #333; }

.blog-header {
  display: flex;
  justify-content: space-between; }
  .blog-header h2 {
    color: #000;
    font-weight: 400;
    font-size: 22px; }

.about-author {
  display: flex; }
  .about-author .author-profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lightgrey; }
  .about-author .info {
    height: 60px; }
    .about-author .info h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      color: #000000;
      text-align: left;
      margin: 7px; }
    .about-author .info p {
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      color: #777777;
      margin: 7px; }

.blog-peek-container {
  border: 1px solid #000000;
  margin: 20px 0;
  list-style: none;
  box-sizing: border-box;
  padding: 25px 60px;
  max-width: 1200px; }

/*# sourceMappingURL=index.css.map */
