.blog {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 750px;
  padding: 25px 60px;
  width: 100%;
}
.blog h1 {
  color: #999;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  margin: 8px 0 16px;
  text-align: left;
}
.blog img {
  max-width: 100%;
}
.blog p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  word-break: break-all;
}

.blog-filter {
  height: 80px;
  width: 100%;
  max-width: 1025px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.blog-filter--item {
  height: 40px;
  width: 150px;
  position: relative;
  cursor: pointer;
}
.blog-filter--item:hover {
  background-color: whitesmoke;
}
.blog-filter--item .blog-filter--button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  border: none;
  bottom: 0;
  color: #333;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  left: 0;
  outline: none;
  padding: 2px 30px 2px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.blog-filter--item-dropdown {
  z-index: 1;
  position: absolute;
  top: 40px;
  opacity: 0;
  background-color: white;
  border: 1px solid #333;
  width: 100%;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog-filter--item-dropdown .dropdown-item {
  padding: 0 10px;
}
.blog-filter--item-dropdown .new-filter {
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid #333;
  border-top: 1px solid #e3e3e3;
}
.blog-filter--item-dropdown .filter-item {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px;
}
.blog-filter--item-dropdown .filter-item input {
  margin-right: 15px;
  font-size: 13px;
  font-weight: 400;
}
.blog-filter--item-dropdown button {
  background-color: #fff;
  color: #629dfc;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.blog-filter--item-dropdown button:hover {
  color: #fff;
  background-color: #629dfc;
}

.show {
  opacity: 1;
}

.blog-form {
  width: 100vw;
  padding: 80px 10vw;
}
.blog-form form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 500px;
  width: 650px;
}
.blog-form form .blog-form--item {
  margin: 12px 0;
}
.blog-form form .submit-button {
  background-color: #fff;
  border: 1px solid #629dfc;
  border-radius: 4px;
  color: #629dfc;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  transition: all 0.2s ease-in-out;
  width: 200px;
}
.blog-form form .submit-button:hover {
  background-color: #629dfc;
  color: #fff;
}
.blog-form form .input-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 56px;
  width: 100%;
}
.blog-form form .input-container .Draftail-Editor {
  width: 100%;
}
.blog-form form .input-container input {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 28px;
  line-height: 22px;
  width: 100%;
}
.blog-form form .input-container h4 {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 20px;
}
.blog-form form .input-container textarea {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  height: 400px;
  outline: none;
  padding: 7px;
  resize: vertical;
}
.blog-form form .title-container {
  border-bottom: 1px solid #333;
}
.blog-header {
  display: flex;
  justify-content: space-between;
}
.blog-header h2 {
  color: #000;
  font-size: 22px;
  font-weight: 400;
}

.about-author {
  display: flex;
}
.about-author .author-profile-pic {
  background-position: center;
  border-radius: 50%;
  background-size: cover;
  height: 60px;
  width: 60px;
}
.about-author .info {
  height: 60px;
}
.about-author .info h3 {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin: 7px;
  text-align: left;
}
.about-author .info p {
  color: #777777;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  margin: 7px;
}

.blog-peek-container {
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  list-style: none;
  margin: 20px 0;
  max-width: 1025px;
  max-height: 250px;
  overflow: hidden;
  padding: 25px 60px;
  position: relative;
}
.blog-peek-container:hover .blog-peek--gradient {
  color: #629dfc;
}

.blog-peek--gradient {
  align-items: flex-end;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  bottom: 0;
  color: grey;
  display: flex;
  font-size: 14px;
  height: 150px;
  justify-content: center;
  padding-bottom: 8px;
  position: absolute;
  right: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
