.blog-peek-container {
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  list-style: none;
  margin: 20px 0;
  max-width: 1025px;
  max-height: 250px;
  overflow: hidden;
  padding: 25px 60px;
  position: relative;
  &:hover .blog-peek--gradient{
    color: #629dfc;
  }
}

.blog-peek--gradient {
  align-items: flex-end;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));  
  bottom: 0;
  color: grey;
  display: flex;
  font-size: 14px;
  height: 150px;
  justify-content: center;
  padding-bottom: 8px;
  position: absolute;
  right: 0;
  transition: all .2s ease-in-out;
  width: 100%;
}
