/** Mobile */
.blog-peek-container {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  box-sizing: border-box;
  list-style: none;
  margin: 20px 0;
  max-width: 750px;
  max-height: 250px;
  overflow: hidden;
  padding: 24px;
  position: relative;
  transition: all .2s ease-in-out;
  width: 100%;
  &:hover {
    border: 1px solid #7d7d7d;
  }
  &:hover .blog-peek--gradient{
    color: #7d7d7d;
  }
}

.blog-peek--gradient {
  align-items: flex-end;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));  
  bottom: 0;
  color: grey;
  display: flex;
  font-size: 14px;
  height: 150px;
  justify-content: center;
  padding-bottom: 8px;
  position: absolute;
  right: 0;
  transition: all .2s ease-in-out;
  width: 100%;
}


/** Tablet */
@media (min-width: 768px) {

}


/** Desktop */
@media (min-width: 1024px) {
  .blog-peek-container {
    padding: 48px;
  }
}

/** Large Desktop */
@media (min-width: 1920px) {

}
