.blog-header {
  display: flex;
  justify-content: space-between;

  h2 {
    color: #000;
    font-size: 22px;
    font-weight: 400;
  }  
}

.about-author {
  display: flex;

  
  .author-profile-pic {
    // background-color: lightgrey;
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    height: 60px;
    width: 60px;
  }
  
  .info {
    height: 60px;

    h3 {
      color: #000000;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      margin: 7px;
      text-align: left;
    }

    p {
      color: #777777;
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      margin: 7px;
    }
  }
}