$body: #263238;
$rock: #aaaabf;
$secondary: #00969E;
$spade: #cfcfcf;

.wallet-container {
  background-color: whitesmoke;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.wallet {
  margin: 120px auto;
  width: 675px;
}

.wallet-actions {
  display: flex;
  height: 48px;
  justify-content: space-between;
  width: 100%;
  button {
    background-color: $secondary;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
    width: calc(50% - 10px);
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}

article {
  align-items: center;
  background-color: #fff;
  border: 1px solid $spade;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 25px 0 45px;
  width: 100%;
  .item {
    align-items: center;
    border-bottom: 1px solid $spade;
    display: flex;
    height: 72px;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 30px);
    &:first-child, &:last-child {
      border: 0;
    }
    &.center {
      justify-content: center;
    }
    .left {
      align-items: center;
      display: flex;
      height: 100%;
      .item-icon {
        background-color: whitesmoke; 
        height: 32px;
        margin-right: 15px;
        width: 32px;
      }
      .item-img {
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        height: 42px;
        margin-right: 15px;
        max-height: 42px;
        max-width: 42px;
        min-height: 42px;
        min-width: 42px;
        width: 42px;
      }
      .item-info {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 42px;
        justify-content: space-between;
        h5 {
          color: $body;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: .5px;
        }
        span {
          color: $body;
          font-size: 12px;
          font-weight: 300;
        }
      }
      span {
        color: $body;
        font-size: 16px;
        font-weight: 500;
      }
    }
    button {
      background-color: $rock;
      border: 1px solid $spade;
      border-radius: 4px;
      color: #fff;
      height: 48px;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: .5px;
      margin: 0 10px;
      transition: all .2s ease-in-out;
      width: 225px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
